<!-- /partials/header.html -->
<header class="site-header header-s1 is-transparent is-sticky">
  <!-- Navbar -->
  <div class="navbar navbar-primary">
    <div class="container" style="display:flex; align-items:center; justify-content:space-between;">
      <!-- Logo -->
      <a class="navbar-brand" href="index.html">
        <img class="logo logo-light" alt="Ankit Panchal &amp; Associates" src="image/Logomain.png"
          srcset="image/Logomain.png" />
        <img class="logo logo-light" alt="" src="image/Logomain.png" srcset="image/Logomain.png" />
      </a>
      <!-- #end Logo -->

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainnav"
          aria-expanded="false">
          <span class="sr-only">Menu</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- Q-Button for Mobile -->
        <div class="quote-btn">
          <a class="btn" href="get-a-quote.html">Sign in</a>
        </div>
      </div>

      <!-- MainNav -->
      <nav class="navbar-collapse collapse navoqw" id="mainnav">
        <ul class="nav navbar-nav">
          <li class="dropdown"><a href="index.html">Home</a></li>
          <li class="dropdown"><a href="about-us.html">About us</a></li>
          <li class="dropdown">
            <a href="service.html" class="dropdown-toggle">
              Services <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="Retirement.html">Retirement Planning</a></li>
              <li><a href="Insurance.html">Insurance Planning</a></li>
              <li><a href="Loan.html">Loan Advisory</a></li>
              <li><a href="Tax.html">Tax Planning</a></li>
              <li><a href="Investment.html">Investment Planning</a></li>
              <li><a href="Children.html">Children’s Education Planning</a></li>
            </ul>
          </li>
          <li><a href="resources.html">Resources</a></li>
          <li><a href="testimonial.html">Testimonial</a></li>
          <li><a href="consulatant.html">Free Consultation</a></li>
          <li class="quote-btn"><a class="btn" href="contact.html"
              style="background-color: #253157; border: #253157;">Contact</a></li>
        </ul>
      </nav>
      <!-- #end MainNav -->
    </div>
  </div>
  <!-- #end Navbar -->
</header>